.bg-dark {
    background-color: #212529;
}
.bg-light {
    background-color: #E9ECEF;
}
.text-dark {
    color: #212529;
}
.text-white {
    color: #E9ECEF;
}
.font-primary {
    font-family: "Montserrat", sans-serif;
}
.font-secondary {
    font-family: "Roboto", sans-serif;
}
.navbar {
    height: 100px;
}
.btn-secondary {
    background-color: #495057;
    color: #E9ECEF;
    border-color: #495057;
}
.font-56 {
    font-size: 56px;
}
.font-20 {
    font-size: 20px;
}
.font-16 {
    font-size: 16px;
}
.carousel-item > img {
    height: 860px;
}
.carousel-text {
    width: 600px;
}
.nav-item > a {
    font-size: 16px;
}
